body {
  background: url(../images/gradient-bg.png) repeat-y center;
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
}

a {
  color: #000;
}

p {
  margin:0;
}

h1 {
  margin:0;
  font-size:13px;
  color:#FFF;
  text-transform:uppercase;
  padding:12px 60px;
  background: url(../images/logo.png) no-repeat 20px 3px;
  line-height:18px;
  text-shadow:-1px -1px 0 #333;
  letter-spacing:2px;
}

.message {
  padding:10px;
  background:#CCC url(../images/message-bg.png) ;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-size:12px;
  margin-bottom:20px;
  color:#333;
  border:4px solid #1A1A1A;
  margin:10px 20px;
}

.message p {
  margin-bottom:10px;
}


textarea {
  width:100%;
}
table {
  width:100%;
  border-collapse:collapse;
}

td {
  padding: 8px;
  font-size:12px;
  margin-bottom:10px;
  background:  #272727 url(../images/list-bg.png) repeat-x top; 
  color:#CCC;
}

th {
  padding:4px 8px 2px;
  background: url(../images/header-bg.png) repeat-x top;
  font-size:11px;
  text-transform:uppercase;
  color:#333;
  text-shadow:1px 1px 0 #fff;
}

tr {
  color:#FFF;
}

#container {background: #1E1E1E url(../images/header-background-grey.jpg) repeat-x top;
  margin:0 auto;
  padding:0 0 40px;
  width:400px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border:5px solid #000;
}

span.alert {
  background-image:url(../images/ok-error.png);
  background-repeat:no-repeat;
  text-indent:-9999px;
  display: block;
  width:24px;
  height:24px;
  margin:0 auto;
}

.ok {
  background-position:top;
}

.no {
  background-position:bottom;
}


#table-wrapper {
  background:#1A1A1A;
  border:1px solid #333;
  padding:5px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin:20px;
}

#header {
  background: url(../images/glossy.png) repeat-x center;
  border-top:1px solid #666;
  border-bottom:1px solid #333;
  margin-bottom:10px;
}

.hide {
  display: none;
}
